*/stubs/**
*.cmake
CMakeFiles/
CMakeCache*
*.a*
*.o*
*.elf*
*.velf*
*.vpk*
*.out*
*.skprx*
*.suprx*
**MakeFile**
kmspico
cex2rex_kern
cex2rex_user
app/CMakeLists.txt
kernel/cex2rex_kern
kernel/install_manifest.txt
kernel/stubs.yml
kmspico/install_manifest.txt
kmspico/kmspico
kmspico/stubs.yml
user/cex2rex_user
user/install_manifest.txt
user/stubs.yml
app/MIAKI
app/eboot.bin
