*/stubs/**
*.cmake
CMakeFiles/
CMakeCache*
*.a*
*.o*
*.elf*
*.velf*
*.vpk*
*.out*
*.skprx*
*.suprx*
**MakeFile**
miaki_kern
miaki_user
.vscode/
miaki.kdev4
.kdev4/miaki.kdev4
devmode/Makefile
devmode/devmode
devmode/devmode-stubs/Makefile
kernel/Makefile
kernel/miaki_kern
kernel/install_manifest.txt
kernel/stubs.yml
kmspico/install_manifest.txt
kmspico/kmspico
kmspico/Makefile
kmspico/stubs.yml
kmspico/src/lowact/stubs/Makefile
kmspico/src/lowact/stubs.yml
kmspico/src/lowact/Makefile
kmspico/src/lowact/kmspico
kmspico/src/lowact/install_manifest.txtlowkmspico/stubs.yml
kmspico/src/yellowmsg/install_manifest.txt
kmspico/src/yellowmsg/kmspico
kmspico/src/yellowmsg/stubs.yml
kmspico/src/yellowmsg/stubs/Makefile
kmspico/Makefile
user/Makefile
app/Makefile
kmspico/src/lowact/install_manifest.txt
kmspico/src/yellowmsg/Makefile
user/miaki_user
user/install_manifest.txt
user/stubs.yml
app/MIAKI
.idea/
app/.kdev4/
app/app.kdev4
app/compile_commands.json
app/eboot.bin
devmode/install_manifest.txt
miaki.kdev4
.kdev4/miaki.kdev4