CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
Makefile
build/
*.a
*.o
*.elf
*.velf
*.self
*.vpk
*.skprx
*.suprx
*.sfo
eboot.bin
stubs.yml
*-stubs.yml
*-stubs/
install_manifest.txt
devmode/devmode
devmode/qaf/qafull/qafull
devmode/qaf/sceshell/sceshell
devmode/qaf/debugflag/deblugflag
deeper-spoofer/spoofer
kmspico/kmspico
kmspico/src/kms/kmspico
kmspico/src/lowact/kmspico
kmspico/src/yellowmsg/kmspico
kernel/miaki_kern
user/miaki_user
app/MIAKI
app/devkit
.vs/
*.kdev4
.kdev4/
app/app.kdev4
app/.kdev4/
.idea/
*.kate-swp
app/compile_commands.json
runbuild
*.out
stubs/
