# LazyLoader sample config
# Sample config 

# Enabling DevMode and DevTool memory size
development_mode=1
memory_switch=1

# Enabling SceShell BootTimeNotification (0xB9)
shellbootime=1

# Enabling Dolce emulation
#platform_emulation_dolce=1

# Activation 